.appBar { /* stylelint-disable */
  background-color: #00AFCC;
  color: #FFF;
  font-size: 24px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
}

.iconButton {
  cursor: pointer;
  margin-right: 15px;
}

.icon {
  font-size: 20px;
  color: #fff;
}

.icon:hover {
  color: #E5E5E5;
}

.linkContainer {
  font-size: 16px;
  margin-top: 6px;
}

.heading{
  text-align: left;
  display: flex;
  flex-grow: 2;
}
