.linkForm { /* stylelint-disable */
  background-color: #FFF;
  border-radius: 2px;
  padding: 25px;
  width: 320px;
  position: fixed;
  top: 25%;
  left: 50%;
  margin-left: -160px
}

.overlay {
  height: 100%;
  width: 100%,
  position fixed;
  z-index: 1;
  top: 0;
  background-color: rgba(0, 0, 0, 0.6);
  overflow-x: hidden;
}

.heading {
  color: #222;
  font-size: 22px;
  margin-bottom: 20px;
}

.input {
  border-bottom-color: rgba(0, 0, 0, 0.2);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  font-size: 18px;
  padding: 5px;
  width: 100%;
}

.actionContainer {
  display: flex;
  justify-content: flex-end;
  margin-top: 25px;
}

.button {
  border-radius: 2;
  color: #00AFCC;
  cursor: pointer;
  text-transform: uppercase;
  padding: 10px;

  &:hover {
    background-color: rgba(0, 0, 0, 0.05);
    font-weight: 700;
  }
}

.errorMessage {
  color: #CE1313;
  font-size: 14px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.inputError {
  border-bottom-color: #CE1313;
}
